<plugin name='code-coverage' version='1.2.6-snapshot' grailsVersion='1.2 &gt; *'>
  <author>Mike Hugo</author>
  <authorEmail>mike@piragua.com</authorEmail>
  <title>Generates Code Coverage reports</title>
  <description>
		Creates Code Coverage reports for your code.
        Special thanks to Peter Ledbrook and Jeff Kunkle for contributions to this plugin.
	</description>
  <documentation>http://grails.org/Test+Code+Coverage+Plugin</documentation>
  <type>CodeCoverageGrailsPlugin</type>
  <resources>
    <resource>mavenInfo</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='net.sourceforge.cobertura' name='cobertura' version='1.9.4.1' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements>
    <plugin name='core' version='1.2 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>