<plugin name='code-coverage' version='1.1.0'>
  <author>Mike Hugo</author>
  <authorEmail>mike@piragua.com</authorEmail>
  <title>Generates Code Coverage reports</title>
  <documentation>http://grails.org/Test+Code+Coverage+Plugin</documentation>
  <resources>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='core' version='1.1 &gt; *' />
  </dependencies>
</plugin>